
#player{
width: 360px;

position: absolute;
left: 50%;
transform: translateX(-50%);
}
header{
    text-align: center;
    color: rgb(26, 206, 26);
    height: 300PX;
}
header img{
    margin-top: 20px;
}
header h2{
    font-size: 32px;
    margin: 20px;
    color: rebeccapurple;
}
header p{
    font-size: 22px;
}
#content{
    background: rgba(255, 75, 225, 0.733);
}
#buttons{
    display: flex;
    justify-content: center;
    padding-top:20PX ;
}
#buttons img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 15px;
}
#volume{
    text-align: center;
}
#volume input{
    width: 80%;
   
}
input[type="range" i]{
    -webkit-appearance:none;
    background: rebeccapurple;
    height: 4px;
    margin: 0%;
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance:none;
    background: rgb(255, 57, 57);
    height: 25px;
    width: 25px;
border-radius: 50%;
}
#volume h2{
    margin: 15px 0;
}
#buttons{
    text-align: center;
    margin-top: 20px;
}
#buttons button{
    width: 25px;
    height: 25px;

    border-radius: 50%;
}
#button1{
    background: red;
}
#button2{
    background:linear-gradient(to right,red,blue);
}
#button3{
    background:blue;
}
#button4{
    background:green;
}